.ad__leaderboard
	width 728px
	height 90px
	margin 10px auto
	display block
	
.ad__300x250
	width 300px
	margin 0 0 0 8px
	display block
	position absolute
	bottom 18px
	right 18px

	.ad__image
		width 300px
		height 250px
		display block
		background-color $medium-grey
		
	.ad__text-bottom
		font-size 10px
		line-height 10px
		margin 9px 0 0 0
		color $white
		text-align center
		display block
		text-transform uppercase
