.gallery__main-column
	width $main-column
	height 200px
	display inline-block

.gallery__right-rail
	width $right-rail
	height 200px
	display inline-block

.gallery__container
	max-width $size-desktop
	display block
	padding 40px 58px 20px
	height 500px
	
.gallery__rubric
	display block
	color $main-red
	font-weight $font-wt-extrabold
	font-size $page-rubric
	line-height $page-rubric
	text-transform uppercase
	margin 0 0 5px 0

.gallery__title
	display block	
	color $white
	font-weight $font-wt-regular
	font-size $page-title
	line-height $page-title
	text-transform uppercase
	ellipsis(2)
	
.gallery__description
	display block	
	color $medium-grey
	font-weight $font-wt-regular
	font-size $page-description
	margin 20px 0

/* REUSABLE STYLES */
.gallery__main-column,
.gallery__right-rail,
.gallery__container
	background-color $dark-green