.latest
	margin 20px 0 0 0
	padding 0 0 20px 0
	background-color $white
	
.latest__header
	basic_header(30px)

.latest__list
	overflow hidden
	padding 15px 0 0 0
	
.latest__item
	height 275px
	float left
	max-width 268px
	padding 0 10px

.latest__image-container,
.latest__link
	display block
	
.latest__image-container
	position relative

.latest__rubric
	position absolute
	bottom 0
	left 0
	background-color $white
	color $main-red
	font-size 13px
	text-transform uppercase
	padding 5px 5px 0 0
	font-weight $font-wt-bold
	line-height 8px
	
.latest__title
	font-size 18px
	color $black
	padding 9px 0 0 0
	ellipsis(3)
	
.latest__play-icon
	play_icon(67px)
	
.load-more-container
	text-align center
	
.load-more__link
	margin 0 auto
	display block
	text-align center
	text-transform uppercase
	max-width 266px
	line-height 27px
	border 1px solid $deep-grey
	color $dark-grey
	background-color $light-grey
	font-weight $font-wt-semibold

.load-more__link:hover
	color $main-red

.latest__link:hover .latest__title
	color $main-red
	
.latest__link:hover .latest__play-icon
	opacity 1










