/* MAIN HEADER */
.main-header
	background-color $green-dark
	
.main-page-title
	font-size 45px
	line-height 45px
	padding 9px 0 11px 0
	float left
	
.main-navigation-container
	padding 13px 0 0 45px
	float left

/* MAIN NAVIGATION */
.main-navigation
	overflow hidden
	
.main-navigation__item
	float left
	position relative
	padding 0 21px 0 20px

.main-navigation__item:after
	height 14px
	margin -7px 0 0 0

.main-navigation__item:first-child
	padding-left 0

.main-navigation__link
	font-family $font-normal
	font-weight $font-wt-extrabold
	text-transform uppercase
	color #fff
	font-size 30px
	line-height 22px
	display block

/* DONT MISS NAVIGATION */
.dont-miss
	padding-top 5px
	overflow hidden
	font-size 14px
	line-height 15px
	
.dont-miss__item
	float left
	padding 0 12px 0 11px
	position relative

.dont-miss__item:after
	height 11px
	margin -5.5px 0 0 0

.dont-miss__item:first-child
	padding 0
	
.dont-miss__title
	color $orange-light
	font-family $font-normal
	font-weight $font-wt-extrabold
	text-transform uppercase
	
.dont-miss__link
	color #fff
	font-family $font-normal
	font-weight $font-wt-regular
	
/* REUSABLE STYLES */
.main-navigation__item:after,
.dont-miss__item:after
	content ""
	display block
	position absolute
	right 0
	top 50%
	border-right 1px solid $orange-light

.dont-miss__item:last-child:after,
.dont-miss__item:first-child:after,
.main-navigation__item:last-child:after
	display none

.dont-miss__link:hover,
.main-navigation__link:hover
	color $red

















