/* MAIN HEADER */
.main-header-container,
.main-footer
	background-color $main-green

.main-header
	overflow hidden

.main-footer
	padding 22px 0 0 0
	margin 25px 0 0 0
	
.main-page-title
	float left
	
.main-page-title__link
	display block
	font-size 45px
	line-height 45px
	padding 9px 0 11px 0
	
.main-navigation-container,
.main-lower-navigation-container
	padding 13px 0 0 45px
	float left

.main-lower-navigation-container
	padding 24px 0 0 60px

/* MAIN NAVIGATION */
.main-navigation,
.main-lower-navigation
	overflow hidden
	
.main-navigation__item,
.main-lower-navigation__item
	float left
	position relative
	padding 0 21px 0 20px

.main-navigation__item:after,
.main-lower-navigation__item:after
	height 14px
	margin -7px 0 0 0

.main-navigation__item:first-child,
.main-lower-navigation__item:first-child
	padding-left 0
	
.main-navigation__item:last-child,
.main-lower-navigation__item:last-child
	padding-right 0

.main-navigation__link,
.main-lower-navigation__link
	font-family $font-normal
	font-weight $font-wt-extrabold
	text-transform uppercase
	color #fff
	font-size 30px
	line-height 23px
	display block
	
.main-lower-navigation__link
	font-size 35px
	line-height 28px

/* DONT MISS NAVIGATION */
.dont-miss
	padding 4px 0 0 0
	overflow hidden
	font-size 14px
	line-height 15px
	
.dont-miss__item
	float left
	padding 0 12px 0 11px
	position relative

.dont-miss__item:after
	height 11px
	margin -5.5px 0 0 0

.dont-miss__item:first-child
	padding 0
	
.dont-miss__title
	color $light-red
	font-family $font-normal
	font-weight $font-wt-extrabold
	text-transform uppercase
	
.dont-miss__link
	color $white
	font-family $font-normal
	font-weight $font-wt-regular
	
/* REUSABLE STYLES */
.main-navigation__item:after,
.main-lower-navigation__item:after,
.dont-miss__item:after
	content ""
	display block
	position absolute
	right 0
	top 50%
	border-right 1px solid $light-red

.dont-miss__item:last-child:after,
.dont-miss__item:first-child:after,
.main-navigation__item:last-child:after,
.main-lower-navigation__item:last-child:after
	display none

.dont-miss__link:hover,
.main-navigation__link:hover,
.main-lower-navigation__link:hover
	color $main-red

/* GLOBAL SEARCH */
.global-search
	float left
	width 158px
	position relative
	padding-left 32px
	margin 13px 0 0 45px

.global-search__search-bar
	display block
	width 100%
	height 20px
	background-color $dark-green
	line-height 20px
	border none
	color $creme
	outline none

.global-search:before
	display block
	position absolute
	padding 0 10px 0 6px
	height 20px
	top 0
	left 0
	background-color $dark-green
	line-height 20px
	text-align center
	color $main-red

/* UPPER SOCIAL NAVIGATION */
.upper-social,
.lower-social
	overflow hidden
	float left
	padding 13px 0 0 0

.lower-social
	padding 22px 0 0 54px

.upper-social__item,
.lower-social__item
	float left
	padding 0 0 0 5px

.lower-social__item
	padding 0 0 0 6px
	
.upper-social__link,
.lower-social__link
	display block
	width 20px
	line-height 20px
	
.lower-social__link
	width 31px
	line-height 31px
	font-size 25px
	
.upper-social__link:before,
.lower-social__link:before 
	color #fff
	display  block
	text-align center

.icon-facebook:before
	background-color #3a5899
	
.icon-twitter:before
	background-color #2ca9e0
	
.icon-youtube:before
	background-color #c8332c

.icon-instagram:before
	background-color #527ea3

.upper-social__item:last-child
	clear both
	float right
	padding-top 9px
.icon-fm
	width 45px
	
.icon-fm:before
	width 45px
	height 15px
	font-size 50px
	line-height 12px
	text-indent -3px

.icon-fm:hover:before
	color $main-red
	
.legal-navigation
	padding-top 28px
	clear both
	text-align center

.legal-nav-item
	position relative
	display inline-block
	padding 0 14px 0 13px

.legal-nav-item:after
	content ""
	display block
	height 9px
	border-left 1px solid $light-red
	position absolute
	top 50%
	right 0
	margin-top -4.5px

.legal-nav-item:last-child:after
	display none

.legal-disclaimer,
.legal-nav-link
	color $creme
	font-size 14px
	
.legal-nav-link:hover
	color $main-red
	
.legal-disclaimer
	text-align center
	padding 4px 0 30px 0
	







