.most-popular
	overflow hidden
	padding 15px 0 0 0

.most-popular-header
	basic_header(30px)

.most-popular__list
	overflow hidden
	padding 15px 10px 0 10px
	
.most-popular__item
	float left
	padding 0 0 20px 0

.most-popular__image-container
	display block
	position relative
	float left
	
.most-popular_link
	display block
	overflow hidden

.most-popular__rubric
	position absolute
	top 0px
	right -60px
	color $main-red
	font-size 12px
	text-transform uppercase
	padding 5px 5px 0 0
	font-weight $font-wt-bold
	line-height 8px
	
.most-popular__title
	font-size 14px
	color $black
	font-weight $font-wt-bold
	padding 24px 0 0 20px
	float left
	max-width 172px
	ellipsis(3)
	
.most-popular__play-icon
	play_icon(48px)
	
.most-popular__link:hover .most-popular__title
	color $main-red
	
.most-popular__link:hover .most-popular__play-icon
	opacity 1

.image
	display block !important
	margin 20px auto









