
.publish-info__contributor-image
	margin-right 10px
	
.publish-info__contributor-name
	color $main-red
	font-weight $font-wt-extrabold
	font-size $page-rubric
	line-height $page-rubric
.publish-info__date
	color $white
	font-weight $font-wt-regular
	font-size $page-rubric
	line-height $page-rubric