.recommended
	overflow hidden

.recommended__header
	border-bottom 1px solid $deep-grey
	color $main-red
	text-transform uppercase
	font-weight $font-wt-light 
	font-size 30px
	line-height 39px

.recommended__list
	overflow hidden
	padding 15px 0 0 0
	
.recommended__item
	height 275px
	float left
	max-width 220px
	padding 0 0 0 20px

.recommended__item:first-child
	padding-left 0

.recommended__image-container,
.recommended_link
	display block
	
.recommended__image-container
	position relative

.recommended__rubric
	position absolute
	bottom -18px
	left 0
	color $main-red
	font-size 13px
	text-transform uppercase
	padding 5px 5px 0 0
	font-weight $font-wt-bold
	line-height 8px
	
.recommended__title
	font-size 15px
	color $black
	font-weight $font-wt-bold
	padding 24px 0 0 0
	ellipsis(3)
	
.recommended__play-icon
	play_icon(67px)
	
.recommended__link:hover .recommended__title
	color $main-red
	
.recommended__link:hover .recommended__play-icon
	opacity 1










