/* GLOBAL HELPERS */

body
	background-color $light-grey
	font-family $font-normal
	
.basic-container
	margin 0 auto
	max-width $size-desktop
	overflow hidden

.main-column
	width $main-column
	padding 0 58px
	min-height 500px
	overflow hidden
	display block
	float left
	background-color $white
	
	//tablet
	@media screen and (min-width: 641px) and (max-width: 1024px) and (orientation : portrait)
		width 100%
		
	//mobile
	@media screen and (max-width: 640px)
		width 100%
		
.right-rail
	width $right-rail
	min-height 500px
	background-color $light-grey
	overflow hidden
	display block
	float left
	
	//tablet
	@media screen and (min-width: 641px) and (max-width: 1024px) and (orientation : portrait)
		display none

	//mobile
	@media screen and (max-width: 640px)
		display none