doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='content-type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width,minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0')
		link(href='themes/default/css/_style.css', rel='stylesheet', type='text/css')

	body
		header.main-header
			h1.main-page-title fuse
			nav.main-navigation-container
				ul.main-navigation
					li.main-navigation-item
						a.main-navigation-link(href='#') Shows
					li.main-navigation-item
						a.main-navigation-link(href='#') Festivals
					li.main-navigation-item
						a.main-navigation-link(href='#') Fun Stuff
					li.main-navigation-item
						a.main-navigation-link(href='#') Music
				ul.main-navigation-dont-miss

