/* MIXINS HERE */

ellipsis(lines)
	display -webkit-box
	-webkit-box-orient vertical
	-webkit-line-clamp lines
	-o-text-overflow ellipsis
	text-overflow ellipsis
	height auto
	overflow hidden
	
play_icon(size)
	display block
	position absolute
	top 50%
	left 50%
	width size
	height size
	margin (- size / 2) 0 0 (- size / 2)
	font-size size
	color $white
	opacity 0.7
