/* GLOBAL VARIABLES */
$size-desktop = 1152px


/* COLOR VARIABLES */
$green-dark 	= #0b4a4f
$orange-light 	= #ffba52
$red 			= #ff3f28

/* FONTS */
$font-normal      	= proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-title       	= league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif 
$font-wt-thin     	= 100
$font-wt-light    	= 300
$font-wt-regular  	= 400
$font-wt-semibold 	= 600
$font-wt-bold     	= 700
$font-wt-extrabold  = 800