/* GLOBAL VARIABLES */
$size-desktop 	= 1152px
$main-column 	= 700px
$right-rail 	= 336px


/* COLOR VARIABLES */

$dark-yellow 	= #FAA413
$mid-yellow 	= #FFBB52
$light-yellow	= #FED130
$main-yellow 	= #FFBC01
$creme			= #f7ede0

$dark-red	 	= #FA3932
$mid-red 		= #FC774C
$light-red		= #F5AA8A
$main-red 		= #FF3F28

$dark-green	 	= #0B4A4F
$mid-green 		= #005F61
$light-green	= #016E73
$main-green 	= #006066

/* GRAYSCALE COLORS */
$white			= #FFF
$black			= #000
$light-grey		= #F5F5F5
$medium-grey 	= #CCC
$deep-grey 		= #BBB
$dark-grey		= #3c3839

/* FONTS */
$font-normal      	= proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif
$font-title       	= league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif 
$font-wt-thin     	= 100
$font-wt-light    	= 300
$font-wt-regular  	= 400
$font-wt-semibold 	= 600
$font-wt-bold     	= 700
$font-wt-extrabold  = 800

/* FONT SIZES */
$page-rubric 		= 14px
$page-title 		= 40px
$page-description 	= 18px