mixin publishDateContributor()
	.publish-info
		img.publish-info__contributor-image(alt='Jeff Benjamin' src='themes/default/images/jeff.png')
		a.publish-info__contributor-name(href='#') Jeff Benjamin 
		span.publish-info__date / June 12, 2014

mixin listControls()
	.listicle-controls
		span.listicle-controls__numbers 1 / 17
		.listicle-controls__container.icon-arrow_left#listicle__prev
		.listicle-controls__container.icon-arrow_right#listicle__next

mixin socialShare()
	.social-share
		img.social-share__image(src='themes/default/images/social.png')