mixin publishDateContributor()
	img.publish-info__contributor-image(alt='Jeff Benjamin' src='themes/default/images/jeff.png')
	a.publish-info__contributor-name(href='#') Jeff Benjamin 
	span.publish-info__date / June 12, 2014

mixin listControls()
	span.listicle-controls__numbers 1 / 17
	.listicle-controls__prev
		.listicle-controls__prev-arrow <
	.listicle-controls__next
		.listicle-controls__next-arrow >

mixin socialShare()
	.social-share Social share here