// -------------------------------------------------------------------------
//  MODULES MODIFIERS
//
//	Include here any modifiers of all content-related elements of the site.
//	Be sure to scroll until you find the correct section for the modifier,
//	you are about to create.
//	
//		* Before creating a new section, please consult with a teammate.
// -------------------------------------------------------------------------

// ----- LISTICLES ----- //
.listicle-controls__container.icon-arrow_left
	&:before 
		font-size 35px
		color $white
.listicle-controls__container.icon-arrow_right
	&:before 
		font-size 35px
		color $white