/* BASE */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
:link,
:visited {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}
a img,
:link img,
:visited img {
  border: none;
}
address {
  font-style: normal;
}
img {
  vertical-align: top;
}
@font-face {
  font-family: 'fuse';
  src: url("../fonts/fuse.eot?11ioxq");
  src: url("../fonts/fuse.eot?#iefix11ioxq") format('embedded-opentype'), url("../fonts/fuse.ttf?11ioxq") format('truetype'), url("../fonts/fuse.woff?11ioxq") format('woff'), url("../fonts/fuse.svg?11ioxq#fuse") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fuse';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fuse-logo .path1:before {
  content: "\e610";
  color: #ef4038;
}
.icon-fuse-logo .path2:before {
  content: "\e614";
  margin-left: -2.2412109375em;
  color: #ef4038;
}
.icon-fuse-logo .path3:before {
  content: "\e615";
  margin-left: -2.2412109375em;
  color: #ef4038;
}
.icon-fuse-logo .path4:before {
  content: "\e616";
  margin-left: -2.2412109375em;
  color: #ef4038;
}
.icon-fuse-logo .path5:before {
  content: "\e617";
  margin-left: -2.2412109375em;
  color: #f47b65;
}
.icon-fuse-logo .path6:before {
  content: "\e618";
  margin-left: -2.2412109375em;
  color: #f47b65;
}
.icon-fuse-logo .path7:before {
  content: "\e619";
  margin-left: -2.2412109375em;
  color: #f47b65;
}
.icon-fuse-logo .path8:before {
  content: "\e61c";
  margin-left: -2.2412109375em;
  color: #f47b65;
}
.icon-fm:before {
  content: "\e60d";
}
.icon-check:before {
  content: "\e61a";
}
.icon-dropdown:before {
  content: "\e61b";
}
.icon-overlay:before {
  content: "\e60f";
}
.icon-arrow_down:before {
  content: "\e600";
}
.icon-arrow_left:before {
  content: "\e601";
}
.icon-arrow_right:before {
  content: "\e602";
}
.icon-arrow_trending_left:before {
  content: "\e603";
}
.icon-arrow_up:before {
  content: "\e604";
}
.icon-close_x:before {
  content: "\e605";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-fuse_festivals:before {
  content: "\e607";
}
.icon-fuse_logo:before {
  content: "\e608";
}
.icon-google:before {
  content: "\e609";
}
.icon-instagram:before {
  content: "\e60a";
}
.icon-menu:before {
  content: "\e60b";
}
.icon-play_icon:before {
  content: "\e60c";
}
.icon-restart_icon:before {
  content: "\e611";
}
.icon-search:before {
  content: "\e60e";
}
.icon-twitter:before {
  content: "\e612";
}
.icon-youtube:before {
  content: "\e613";
}
/* STRUCTURE */
.basic-container {
  margin: 0 auto;
  max-width: 1152px;
  overflow: hidden;
}
/* MODULES */
.main-header {
  background-color: #0b4a4f;
}
.main-page-title {
  float: left;
}
.main-page-title__link {
  display: block;
  font-size: 45px;
  line-height: 45px;
  padding: 9px 0 11px 0;
}
.main-navigation-container {
  padding: 13px 0 0 45px;
  float: left;
}
.main-navigation {
  overflow: hidden;
}
.main-navigation__item {
  float: left;
  position: relative;
  padding: 0 21px 0 20px;
}
.main-navigation__item:after {
  height: 14px;
  margin: -7px 0 0 0;
}
.main-navigation__item:first-child {
  padding-left: 0;
}
.main-navigation__item:last-child {
  padding-right: 0;
}
.main-navigation__link {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  line-height: 23px;
  display: block;
}
.dont-miss {
  padding-top: 4px;
  overflow: hidden;
  font-size: 14px;
  line-height: 15px;
}
.dont-miss__item {
  float: left;
  padding: 0 12px 0 11px;
  position: relative;
}
.dont-miss__item:after {
  height: 11px;
  margin: -5.5px 0 0 0;
}
.dont-miss__item:first-child {
  padding: 0;
}
.dont-miss__title {
  color: #ffba52;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.dont-miss__link {
  color: #fff;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.main-navigation__item:after,
.dont-miss__item:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  border-right: 1px solid #ffba52;
}
.dont-miss__item:last-child:after,
.dont-miss__item:first-child:after,
.main-navigation__item:last-child:after {
  display: none;
}
.dont-miss__link:hover,
.main-navigation__link:hover {
  color: #ff3f28;
}
.global-search {
  float: left;
  width: 158px;
  position: relative;
  padding-left: 32px;
  margin: 13px 0 0 45px;
}
.global-search__search-bar {
  display: block;
  width: 100%;
  height: 20px;
  background-color: #09393d;
  line-height: 20px;
  border: none;
  color: #f7ede0;
  outline: none;
}
.global-search:before {
  display: block;
  position: absolute;
  padding: 0 10px 0 6px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #09393d;
  line-height: 20px;
  text-align: center;
  color: #ff3f28;
}
.upper-social {
  overflow: hidden;
  float: left;
  padding-top: 13px;
}
.upper-social__item {
  float: left;
  padding-left: 5px;
}
.upper-social__link {
  display: block;
  width: 20px;
  line-height: 20px;
}
.upper-social__link:before {
  color: #fff;
  display: block;
  text-align: center;
}
.icon-facebook:before {
  background-color: #3a5899;
}
.icon-twitter:before {
  background-color: #2ca9e0;
}
.icon-youtube:before {
  background-color: #c8332c;
}
.icon-instagram:before {
  background-color: #527ea3;
}
.upper-social__item:last-child {
  clear: both;
  float: right;
  padding-top: 9px;
}
.icon-fm {
  width: 45px;
}
.icon-fm:before {
  width: 45px;
  height: 15px;
  font-size: 50px;
  line-height: 12px;
  text-indent: -3px;
}
.icon-fm:hover:before {
  color: #ff3f28;
}
/* MODIFIERS */
